{% extends 'base.html.twig' %}

{% block title %}Start{% endblock %}

{% block body %}
    <h1>Start</h1>

    {% for category in categories %}
        <div style="margin: 35px">
            <h3>
                <a href="{{ path('category', {'id': category.id}) }}">{{ category.title }}</a>
            </h3>
            <p>{{ category.shortdesc }}</p>
        </div>
    {% endfor %}
{% endblock %}
